/bin
*.ipr
*.iws
*.project
*.classpath
*.prefs
.settings
*.settings/
logs/
*.idea
*.git
*.svn
*.class

*.iml
.DS_Store
target/classes/
target/generated*/
target/maven*/
target/test*/
target/surefire-reports/*